<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- My Style sheets -->
  <link rel="stylesheet" href="/views/Components/navbar.css">
  <link rel="stylesheet" href="gallery.css">
  <link rel="stylesheet" href="/styles.css">
  <title>Goodson Gardens - Gallery</title>
  <!-- jQuery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
  <!-- Navigation Bar -->
  <nav class="navbar">
    <a class="nav-brand-link" href="/index.html">
      <img src="../../assets/logo/logo.svg" alt="pink waratah flower logo" class="logo" />
    </a>
    <button class="btn-hamburger">
      <img class="img-hamburger" src="../../assets/hamburger-icon-pink.svg" alt="navigation icon">
    </button>
    <div class="navbar-hidden hide">
      <ul class="navbar-list">
        <li class="nav-item">
          <a class="nav-link" href="/index.html#services">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./views/Gallery/gallery.html">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/index.html#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./views/Contact/contact.html">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./views/Booking/booking.html">Make a Booking</a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- MAIN CONTENT -->
  <main class="main-container">
    <section class="gallery-section">
      <h2 class="section-header">GALLERY</h2>
      <p>Want some inspiration? Take a look at some of the plants and gardens that Goodson Gardens have lovingly grown
        and tended to, or viewed in the wild in Australia.
      </p>
      <div id="div-gallery" class="div-gallery">
        <img src="../../assets/gallery/hydrangea3.jpg" class="img-gallery" alt="light hydrangea flower">
        <img src="../../assets/gallery/hydrangea.jpg" class="img-gallery" alt="pink purple and blue hydrangea flowers">
        <img src="../../assets/gallery/hydrangea-bush2.jpg" class="img-gallery"
          alt="pink purple and blue hydrangea bush">
        <img src="../../assets/gallery/rose.jpg" class="img-gallery" alt="deep red rose">
        <img src="../../assets/gallery/gerbera.jpg" class="img-gallery" alt="gerbera flower purple-pink">
        <img src="../../assets/gallery/purple-tiny-flowers.jpg" class="img-gallery"
          alt="small purple flowers surrounded by brown fallen leaves">
        <img src="../../assets/gallery/blue-entoloma.jpg" class="img-gallery" alt="blue entoloma fungi">
        <img src="../../assets/gallery/chorizema-cordatum.jpg" class="img-gallery" alt="chorizema cordatum">
        <img src="../../assets/gallery/butterfly-blue-scabiosa.jpg" class="img-gallery" alt="butterfly blue scabiosa">
        <img src="../../assets/gallery/poppy2.jpg" class="img-gallery" alt="light purple poppy">
        <img src="../../assets/gallery/poppy3.jpg" class="img-gallery" alt="light purple poppy">
        <img src="../../assets/gallery/pink-flannel-flower.jpg" class="img-gallery" alt="pink flannel flower">
        <img src="../../assets/gallery/pink-flannel-flower-spider.jpg" class="img-gallery"
          alt="pink flannel flower with small spider on top">
        <img src="../../assets/gallery/erica-cinerea-pink-ice.jpg" class="img-gallery" alt="erica cinerea pink ice">
        <img src="../../assets/gallery/tradescantia-wandering jew.jpg" class="img-gallery"
          alt="tradescantia wandering jew">
        <img src="../../assets/gallery/calochilus-robertsonii-bearded-orchid.jpg" class="img-gallery"
          alt="bearded orchid">
        <img src="../../assets/gallery/orchid-spider-closeup.jpg" class="img-gallery" alt="spider orchid">
        <img src="../../assets/gallery/orchid-spider.jpg" class="img-gallery" alt="spider orchid">
        <img src="../../assets/gallery/orchid.jpg" class="img-gallery" alt="orchid">
        <img src="../../assets/gallery/leopard-orchid.jpg" class="img-gallery" alt="leopard orchid flower">
        <img src="../../assets/gallery/vanilla-orchid.jpg" class="img-gallery " alt="vanilla-orchid">
        <img src="../../assets/gallery/waratah3.jpg" class="img-gallery" alt="waratah red flower">
        <img src="../../assets/gallery/wattle-acacia-terminalis.jpg" class="img-gallery" alt="wattle-acacia terminalis">
        <img src="../../assets/gallery/lettuces-5wks.jpg" class="img-gallery" alt="lettuce five weeks after planting">
        <img src="../..assets/gallery/snow-peas.jpg" class="img-gallery" alt="snow-peas">
        <img src="../../assets/gallery/spinach-purplebroccoli-silverbeets.jpg"
          alt="spinach, purple brocolli and silverbeets in garden" class="img-gallery ">
        <img src="../../assets/gallery/veggiegardenpart.jpg" class="img-gallery" alt="part of a vegetable garden">
        <img src="../../assets/gallery/chinesecabbage-andbokchoy.jpg" class="img-gallery">
        <img src="../../assets/gallery/waratah-close.jpg" class="img-gallery" alt="waratah red flower close up">
        <img src="../../assets/gallery/protea.jpg" class="img-gallery" alt="king protea">
      </div>
    </section>
  </main>

  <!-- Start of footer -->
  <footer class="footer">
    <div class="row-footer">
      <h1 class="footer-brand">Goodson Gardens
      </h1>
      <h2 class="footer-contact">0478 000 000<br />
        <a href="mailto:emailaddress@gmail.com" class="footer-email">goodsongardens@gmail.com</a>
      </h2>
    </div>
    <div class="row-footer">
      <ul class="footer-links">
        <li class="footer-link"><a id="footer-link3" href="../Services/services.html">Services</a></li>
        <li class="footer-link"><a id="footer-link1" href="../Contact/contact.html">Contact</a></li>
        <li class="footer-link"><a id="footer-link2" href="../Booking/booking.html"> Booking</a></li>
      </ul>
    </div>
  </footer>
  <script src="gallery.js"></script>
  <script src="/index.js"></script>
</body>

</html>