<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Goodson Gardens - Gallery</title>

  <!-- Stylesheets -->
  <link rel="stylesheet" href="../../styles.css">
  <link rel="stylesheet" href="gallery.css">

  <!-- jQuery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"
    integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>

<body>
  <!-- Navigation Bar -->
  <nav class="navbar">
    <a class="nav-brand-link" href="../../index.html">
      <img src="../../assets/logo/logo.svg" alt="pink waratah flower logo" class="logo" />
    </a>
    <button class="btn-hamburger">
      <img class="img-hamburger" src="../../assets/hamburger-icon-pink.svg" alt="navigation icon">
    </button>
    <div class="navbar-hidden hide">
      <ul class="navbar-list">
        <li class="nav-item">
          <a class="nav-link" href="/index.html#services">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="./views/Gallery/gallery.html">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/index.html#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/index.html#contact">Contact</a>
        </li>
        <li class="nav-item">
          <!-- Calendly link widget begin -->
          <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
          <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
          <a href="" class="nav-link"
            onclick="Calendly.initPopupWidget({url: 'https://calendly.com/ameliagoodson'});return false;">Book</a>
          <!-- Calendly link widget end -->
        </li>
      </ul>
    </div>
  </nav>
  <!-- MAIN CONTENT -->
  <main class="main-container">
    <section class="gallery-section">
      <h2 class="section-header">GALLERY</h2>
      <p>Want some inspiration? Take a look at some of the plants and gardens that Goodson Gardens have lovingly grown
        and tended to, or viewed in the wild in Australia.
      </p>
      <div id="div-gallery" class="div-gallery">
        <img src="../../assets/gallery/hydrangea3.jpg" class="img-gallery" alt="hydrangea flower">
        <img src="../../assets/gallery/hydrangea.jpg" class="img-gallery" alt="hydrangea flowers">
        <img src="../../assets/gallery/hydrangea-bush2.jpg" class="img-gallery" alt="hydrangea bush">
        <img src="../../assets/gallery/rose.jpg" class="img-gallery" alt="deep red rose">
        <img src="../../assets/gallery/gerbera.jpg" class="img-gallery" alt="gerbera">
        <img src="../../assets/gallery/purple-tiny-flowers.jpg" class="img-gallery"
          alt="orchid emerging from undergrowht">
        <img src="../../assets/gallery/blue-entoloma.jpg" class="img-gallery" alt="blue entoloma fungi">
        <img src="../../assets/gallery/chorizema-cordatum.jpg" class="img-gallery" alt="chorizema cordatum">
        <img src="../../assets/gallery/butterfly-blue-scabiosa.jpg" class="img-gallery" alt="butterfly blue scabiosa">
        <img src="../../assets/gallery/poppy2.jpg" class="img-gallery" alt="oriental poppy">
        <img src="../../assets/gallery/poppy3.jpg" class="img-gallery" alt="oriental poppy">
        <img src="../../assets/gallery/pink-flannel-flower.jpg" class="img-gallery" alt="pink flannel flower">
        <img src="../../assets/gallery/pink-flannel-flower-spider.jpg" class="img-gallery" alt="pink flannel flower">
        <img src="../../assets/gallery/erica-cinerea-pink-ice.jpg" class="img-gallery" alt="erica cinerea pink ice">
        <img src="../../assets/gallery/tradescantia-wandering jew.jpg" class="img-gallery"
          alt="tradescantia wandering jew">
        <img src="../../assets/gallery/calochilus-robertsonii-bearded-orchid.jpg" class="img-gallery"
          alt="bearded orchid">
        <img src="../../assets/gallery/orchid-spider-closeup.jpg" class="img-gallery" alt="spider orchid">
        <img src="../../assets/gallery/orchid-spider.jpg" class="img-gallery" alt="spider orchid">
        <img src="../../assets/gallery/orchid.jpg" class="img-gallery" alt="orchid">
        <img src="../../assets/gallery/leopard-orchid.jpg" class="img-gallery" alt="leopard orchid ">
        <img src="../../assets/gallery/vanilla-orchid.jpg" class="img-gallery " alt="vanilla orchid">
        <img src="../../assets/gallery/waratah3.jpg" class="img-gallery" alt="waratah red flower">
        <img src="../../assets/gallery/wattle-acacia-terminalis.jpg" class="img-gallery" alt="wattle acacia terminalis">
        <img src="../../assets/gallery/lettuces-5wks.jpg" class="img-gallery" alt="lettuce five weeks after planting">
        <img src="../../assets/gallery/snow-peas.jpg" class="img-gallery" alt="snow peas">
        <img src="../../assets/gallery/spinach-purplebroccoli-silverbeets.jpg"
          alt="spinach, purple brocolli and silverbeets" class="img-gallery ">
        <img src="../../assets/gallery/veggiegardenpart.jpg" class="img-gallery" alt="herbs going gangbusters">
        <img src="../../assets/gallery/chinesecabbage-andbokchoy.jpg" class="img-gallery">
        <img src="../../assets/gallery/waratah-close.jpg" class="img-gallery" alt="waratah red flower">
        <img src="../../assets/gallery/protea.jpg" class="img-gallery" alt="king protea">
      </div>
    </section>
  </main>


  <!-- Start of footer -->
  <div class="footer-container">
    <footer>
      <a class="nav-brand-link" href="/index.html">
        <img src="../../assets/logo/logo-white.svg" alt="white waratah flower logo" class="logo" />
      </a>
      <section class="contact-section" id="contact">
        <h3 class="contact-header">GET IN TOUCH</h3>
        <form action="https://formspree.io/xeqrdgyw" method="POST" class="contact-form">
          <label for="name">
            Name
            <input type="text" name="name" id="name" placeholder="Name" />
          </label>
          <label for="email">
            Email
            <input type="email" name="_replyto" id="email" placeholder="Email address" />
          </label>
          <div class="message-div">
            <label for="message">
              What can we help you with?
            </label>
            <textarea name="message" id="message" placeholder="Ask a question"></textarea>
          </div>
          <button type="submit" class="button-contact">SEND</button>
        </form>
      </section>
      <ul class="footer-links">
        <li><a href="/index.html#services">Services</a></li>
        <li><a href="/views/Gallery/gallery.html"> Gallery</a></li>
        <li>
          <!-- Calendly link widget begin -->
          <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
          <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
          <a href=""
            onclick="Calendly.initPopupWidget({url: 'https://calendly.com/ameliagoodson'});return false;">Book</a>
          <!-- Calendly link widget end -->
        </li>
      </ul>
      <section class="footer-subcontent">
        <div class="social-icons">
          <a href="https://www.facebook.com/mark.natureboy6">
            <img src="/assets/gallery/facebook-logo.png">
          </a>
          <a href="#">
            <img src="/assets/gallery/instagram-logo.png">
          </a>
        </div>
        <div class="footer-contact">
          <div>
            <img src="/assets/icon-location.png">
            <p>Sydney, Australia</p>
          </div>
          <div>
            <img src="/assets/icon-phone.png">
            <p>0478 000 000</p>
          </div>
          <div>
            <img src="/assets/icon-email.png">
            <a href="mailto:emailaddress@gmail.com">goodsongardens@gmail.com</a>
          </div>
        </div>
      </section>
    </footer>
  </div>
  <!-- End of footer -->
  <script src="gallery.js"></script>
  <script src="../../index.js"></script>
</body>

</html>