:root {
  --dark-olive-green: #506742;
  --maximum-green: #628b48;
  --raspberry: #e50b5e;
  --cornsilk: #fcf2d7;
}
/* font-family: 'Comfortaa', cursive; */

body,
html {
  height: 100%;
  width: 100%;
  background-color: white;
}
.page-container {
  position: relative;
  min-height: 100vh;
}

.content-wrap {
  padding-bottom: 4rem;
}

/* Navigation bar */
.navbar,
.navbar-brand {
  background-color: #fcf2d7;
  font-size: 18px;
}
.nav-link,
.navbar-brand {
  color: #506742;
}
.navbar-brand {
  font-weight: bold;
  margin-right: 5px;
  font-family: "Comfortaa", cursive;
  font-size: 20px;
}
.logo {
  height: 40px;
  width: 40px;
}
.heading-gallery {
  font-family: "Comfortaa", cursive;
  font-size: 30px;
  text-align: center;
  margin: 20px;
}
/* Carousel */
.carousel {
  margin: auto;
  max-width: 40rem;
  margin-bottom: 30px;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: 40px;
  height: 40px;
}
/* Footer */
.footer {
  background-color: #e50b5e;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4rem;
}
