body,
html {
	width: 100%;
	height: 100%;
}

.main-container {
	margin: auto;
}
.div-gallery {
	width: 100%;
	margin: auto;
	text-align: center;
}
.img-gallery {
	object-fit: cover;
	width: 100px;
	height: 100px;
	z-index: -1;
	padding: 2px;
}
.img-gallery:hover {
	cursor: pointer;
}
#modalbox {
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	z-index: 5;
	display: none;
}
#modalbox.active {
	display: flex;
	justify-content: center;
	align-items: center;
}
.modalimg {
	max-width: 90%;
	max-height: 80%;
	padding: 4px;
	border: 5px solid white;
	position: absolute;
}
.modalcaption {
	color: var(--darkjunglegreen);
	z-index: 999;
	font-size: 20px;
	display: block;
	background: rgba(255, 255, 255, 0.5);
	padding: 5px 10px;
	position: relative;
	top: 0px;
}
@media screen and (min-width: 768px) {
	.main-container {
		width: 70%;
	}
}
@media screen and (min-width: 992px) {
	.main-container {
		width: 60%;
	}
	.img-gallery {
		width: 130px;
		height: 130px;
	}
}
