:root {
	--raspberry: #e50b5e;
	--darkblue: rgb(34, 104, 130);
	--mediumblue: rgb(43, 138, 173);
	--lightblue: rgb(105, 185, 255);
	--lightgrey: rgb(230, 232, 236);
}

body,
html {
	height: 100%;
	width: 100%;
	background-color: var(--lightgrey);
}
.page-container {
	position: relative;
	min-height: 100vh;
}
.navbar {
	background-color: white;
	border-bottom: var(--lightblue) 2px solid;
	padding: 0px 0px 0px 5px;
}
.navbar-brand {
	font-weight: bold;
	margin-right: 5px;
	font-family: "Quicksand", sans-serif;
	font-size: 1.5rem;
	color: var(--darkblue) !important;
}
.logo {
	height: 35px;
	width: 35px;
	margin-left: 10px;
	margin-bottom: 5px;
}
.nav-link {
	color: var(--darkblue) !important;
	font-size: 16px;
}
.container {
	width: 100%;
}
.jumbotron {
	background-size: auto, cover;
	background-color: white;
	background-image: linear-gradient(
			rgba(5, 10, 12, 0.7),
			rgba(31, 85, 105, 0.2)
		),
		url(./assets/hero1-australian-natives.jpg);
	background-position: center;
	height: 37rem;
	border-bottom: var(--lightblue) 2px solid;
	position: relative;
	display: flex;
	justify-content: center;
}
.jumbotron-text-container {
	max-height: 400px;
	max-width: 700px;
	justify-content: center;
	display: flex;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
#home-title {
	font-size: 3rem;
	padding-top: 20px;
	font-variant: small-caps;
}
#home-subtitle {
	font-size: 20px;
	padding-bottom: 10px;
}

.btn-home {
	background-color: var(--lightblue);
	padding: 5px 10px 5px 10px;
	font-size: 22px;
	color: white;
	margin-bottom: 20px;
	border: none;
	border-radius: 5px;
	letter-spacing: 1px;
	font-variant: small-caps;
}
.row {
	width: 100%;
}
.card-jumbotron {
	max-width: 40rem;
	border-radius: 0px;
	max-height: 15rem;
	text-align: center;
	color: white;
}
.card-home {
	background-color: white;
	margin: 20px;
	font-size: 16px;
	padding: 20px;
	border-radius: 5px;
}
#card-home1,
#card-home2 {
	margin-left: 5px;
	margin-right: 5px;
}
.card-title {
	text-align: center;
	color: var(--mediumblue);
	font-size: 2rem;
	font-family: "Quicksand", sans-serif;
	font-weight: bold;
}
.card-text {
	color: black;
}
.column {
	background-color: #fcf2d7;
	margin-top: 20px;
}
/* Footer */
.container-footer {
	padding: 10px;
}

.footer {
	padding-left: 10px;
	background-color: #e50b5e;
	bottom: 0;
	width: 100%;
	height: fit-content;
	display: flex;
	flex-direction: column;
}
.footer-brand {
	font-family: "Quicksand", sans-serif;
	font-size: 24px;
	margin-top: 10px;
	margin-bottom: 0px;
	color: white;
}
.footer-subtitle {
	font-size: 16px;
	color: white;
}
.footer-email,
.footer-email:hover {
	color: white;
}

.footer-logo {
	height: 35px;
	width: 35px;
	background-color: white;
}

.footer-list {
	font-size: 20px;
	list-style-type: none;
}

.footer-link {
	margin: 10px;
}
#footer-link1,
#footer-link2 {
	color: white;
}
