/* Colour palette
Dark olive green: #506742
Maximum green: #628B48
Raspberry: #E50B5E
Cornsilk (very pale pink): #FCF2D7
White: #FFFFFF
*/

:root {
  --dark-olive-green: #506742;
  --maximum-green: #628b48;
  --raspberry: #e50b5e;
  --cornsilk: #fcf2d7;
}

body,
html {
  height: 100%;
  width: 100%;
  background-color: white;
}

.navbar,
.navbar-brand {
  background-color: #fcf2d7;
}
.nav-link,
.navbar-brand {
  color: #506742;
  font-size: 18px;
}
.navbar-brand {
  font-weight: bold;
  margin-right: 5px;
  font-family: "Comfortaa", cursive;
  font-size: 20px;
}
.logo {
  height: 40px;
  width: 40px;
}
.container {
  width: 100%;
}
.jumbotron {
  background-repeat: no-repeat;
  background-image: url(./assets/header-flower.jpg);
  background-size: cover;
  height: 22rem;
  color: white;
  margin-bottom: 20px;
}
.home-title {
  font-size: 26px;
  padding-top: 20px;
}
.home-subtitle {
  font-size: 20px;
  padding-bottom: 10px;
}

.btn-home {
  background-color: #e50b5e;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  margin-bottom: 20px;
}
.row {
  width: 100%;
}
.card-jumbotron {
  max-width: 30rem;
  border-radius: 20px;
  max-height: 15rem;
  text-align: center;
  background-color: white;
  opacity: 0.9;
  color: var(--dark-olive-green);
}
.card-home {
  background-color: #fcf2d7;
  margin: 20px;
  font-size: 16px;
  padding: 20px;
}

.column {
  background-color: #fcf2d7;
  margin-top: 20px;
}
.footer {
  height: 4rem;
  background-color: #e50b5e;
}
