@font-face {
	font-family: "Raleway";
	src: url(./assets/Raleway-Medium.ttf);
}
@font-face {
	font-family: "Raleway Bold Italic";
	src: url(./assets/Raleway-BoldItalic.ttf);
}
@font-face {
	font-family: "Raleway Bold";
	src: url(./assets/Raleway-Bold.ttf);
}
@font-face {
	font-family: "Raleway Italic";
	src: url(./assets/Raleway-Italic.ttf);
}
:root {
	--redcrayola: #f40b53;
	--darkjunglegreen: #041a04;
	--bitterlemon: #cfef1a;
}

body,
html {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: "Raleway";
}

/* NAVBAR */
.navbar {
	background-color: white;
	margin: 0;
	display: flex;
	justify-content: space-between;
}
.nav-brand-link {
	text-decoration: none;
	display: flex;
}

.logo {
	height: 70px;
	margin-bottom: 5px;
}
.nav-link {
	color: var(--redcrayola);
	display: block;
	padding: 0.5rem 1rem;
	text-decoration: none;
}
.nav-link:hover {
	color: var(--darkjunglegreen);
}
.img-hamburger {
	height: 40px;
	width: 40px;
}
.btn-hamburger {
	border: none;
	background-color: white;
	outline: none;
}
.hide {
	display: none;
}
.navbar-hidden {
	z-index: 2;
	background-color: white;
	position: absolute;
	width: 50%;
	top: 90px;
	right: 0px;
}
.navbar-list {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

/* MAIN CONTENT */
.page-container {
	min-height: 100vh;
}
.main-container {
	width: 95%;
	margin: auto;
}
.services-section {
	width: 100%;
	margin-top: 10px;
}
.carousel-section {
	width: 100%;
}
p,
li,
.services-text {
	font-size: 16px;
	line-height: 1.5;
	font-family: "Raleway";
}

.highlight-pink {
	font-family: "Raleway Bold";
	color: var(--redcrayola);
}
.italics {
	font-family: "Raleway Italic";
}

figcaption {
	text-align: right;
	font-size: 14px;
	font-family: "Raleway";
}

.cta-section {
	position: absolute;
	top: 100px;
	z-index: 1;
	color: #041a04;
	padding: 5px;
	margin: auto;
	background-color: rgba(255, 255, 255, 0.5);
}
.cta-title {
	font-size: 24px;
	font-family: "Raleway Bold";
}
.price-div {
	background-color: var(--bitterlemon);
	width: fit-content;
	padding: 5px;
	transform: skewX(342deg);
}
.cta-price {
	font-weight: bold;
	font-size: 20px;
	font-family: "Raleway Bold";
	display: inline;
	padding: 2px;
}
.cta-btn {
	background-color: #f40b53;
	border: none;
	text-transform: uppercase;
	color: rgba(255, 255, 255, 0.9);
	margin-top: 10px;
}

.section-header {
	background-color: var(--bitterlemon);
	font-size: 20px;
	padding: 5px;
	text-align: center;
	font-weight: bold;
	font-family: "Raleway Bold";
	margin-bottom: 10px;
}
.services-heading {
	font-family: "Raleway Bold";
	color: var(--darkjunglegreen);
	font-size: 20px;
	margin-bottom: 5px;
}
.services-subheading {
	font-size: 18px;
	color: var(--redcrayola);
}

.img-services {
	width: 100%;
	border-radius: 5px;
	margin: 5px;
}

.list-goals {
	list-style-type: circle;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

/* MEDIA QUERIES */
@media screen and (min-width: 480px) {
	.carousel-inner,
	.main-container {
		width: 80%;
	}
}
@media screen and (min-width: 768px) {
	.carousel-inner,
	.main-container {
		width: 60%;
	}
}

/* FOOTER */
.footer {
	background-color: #e50b5e;
	bottom: 0;
	height: fit-content;
	justify-content: center;
	text-align: center;
	width: 100%;
	padding: 10px;
}
.row-footer {
	display: block;
}
.footer-brand {
	font-family: "Quicksand", sans-serif;
	font-size: 1rem;
	margin-bottom: 0px;
	color: white;
}
.footer-contact {
	font-size: 16px;
	color: white;
	text-align: left;
	padding-left: 7px;
	margin-top: 20px;
}

.footer-links {
	font-size: 18px;
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
	display: flex;
	justify-content: space-evenly;
}
.footer-links li a,
.footer-email {
	color: white;
}

/* 	CONTACT FORM  */
.contact-section {
	background-color: white;
	width: 90%;
	margin: 20px auto 20px auto;
}

.contact-form {
	padding: 10px;
	text-align: left;
}
.label-contact-form {
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.label-contact-form,
.input-contact-form {
	height: 30px;
	margin-bottom: 10px;
}
.input-message {
	width: 90%;
	padding: 10px;
}
.button-contact {
	background-color: var(--redcrayola);
	color: white;
	border: none;
}
