:root {
  --dark-olive-green: #506742;
  --maximum-green: #628b48;
  --raspberry: #e50b5e;
  --cornsilk: #fcf2d7;
}
body,
html {
  height: 100%;
  width: 100%;
  background-color: white;
}
.navbar,
.navbar-brand {
  background-color: #fcf2d7;
  font-size: 18px;
}
.nav-link,
.navbar-brand {
  color: #506742;
}
.navbar-brand {
  font-weight: bold;
  margin-right: 5px;
  font-family: "Comfortaa", cursive;
  font-size: 20px;
}
.logo {
  height: 40px;
  width: 40px;
}
/* Content */
.header-booking {
  font-family: "Comfortaa", cursive;
  font-size: 30px;
  text-align: center;
  margin: 20px;
}
/* .container {
  height: 100vh;
} */
.calendly-inline-widget {
  min-width: 320px;
  height: 630px;
}
/* Footer */
.footer {
  height: 4rem;
  background-color: #e50b5e;
}
