<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="about.css" />
  </head>
  <body>
    <h1>this is the about page</h1>

    <button type="button">
      Services
      <a href="../../views/Services/services.html"></a>
    </button>
    <button type="button" class="" id="Home">
      <a href="../index.html">Home</a>
    </button>
  </body>
</html>
