:root {
  --dark-olive-green: #506742;
  --maximum-green: #c0e4a9;
  --raspberry: #e50b5e;
  --cornsilk: #fcf2d7;
}
body,
html {
  height: 100%;
  width: 100%;
  background-color: white;
}
.navbar,
.navbar-brand {
  background-color: #fcf2d7;
  font-size: 18px;
}
.nav-link,
.navbar-brand {
  color: #506742;
}
.navbar-brand {
  font-weight: bold;
  margin-right: 5px;
  font-family: "Comfortaa", cursive;
  font-size: 20px;
}
.logo {
  height: 40px;
  width: 40px;
}
.page-container {
  position: relative;
  min-height: 100vh;
}

.content-wrap {
  padding-bottom: 2.5rem; /* Footer height */
}

.footer {
  background-color: #e50b5e;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4rem;
}
