:root {
  --dark-olive-green: #506742;
  --maximum-green: #628b48;
  --raspberry: #e50b5e;
  --cornsilk: #fcf2d7;
}
.navbar,
.navbar-brand {
  background-color: #fcf2d7;
  font-size: 20px;
}
.nav-link,
.navbar-brand {
  color: #506742;
}

body,
html {
  height: 100%;
  width: 100%;
  background-color: white;
}

.footer {
  height: 4rem;
  background-color: #e50b5e;
}

.card {
  background-color: var(--maximum-green);
}
