<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Goodson Gardens</title>
    <!-- Bootstrap -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css"
      integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js"
      integrity="sha384-XEerZL0cuoUbHE4nZReLT7nx9gQrQreJekYhJD9WNWhH8nEW+0c5qq7aIo2Wl30J"
      crossorigin="anonymous"
    ></script>
    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap" rel="stylesheet">
    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
      integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
      crossorigin="anonymous"
    />
    <!-- My style sheet -->
    <link rel="stylesheet" href="services.css" />
  </head>
  <body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="../../index.html">Goodson Gardens<img src="../../assets/flowerlogo.svg" alt="pink waratah flower logo" class="logo" /></a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          
          <li class="nav-item">
            <a class="nav-link" href="../Services/services.html">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../Gallery/gallery.html">Gallery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../Contact/contact.html">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../Booking/booking.html"
              >Make a Booking</a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- Page content -->
    <div class="container">
      <div class="row">
        <h1 class="heading-services">Services</h1>
        <p class="text-services">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit
          dolorum vel et quos officia porro, eligendi explicabo! Repudiandae
          ipsum quod inventore incidunt ipsam, ullam, assumenda, cumque placeat
          cupiditate laudantium modi!
        </p>
      </div>
    <div class="row">
      <div class="col-sm">
        <div class="card card-services">
          <h5 class="card-title">
            Garden maintenance
          </h5>
          <img
            src="https://ameliagoodson.github.io/Goodson-Gardens/assets/services/real-garden-maintenance.jpg"
            class="card-img-top"
            id="img-garden-maintenance"
            alt="Card image cap"
          />
          <div class="card-body">
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card card-services">
          <h5 class="card-title">
            Flower gardens
          </h5>
        <!-- <img src="../../assets/icon-rose.svg" class="card-icon" /> -->
        <img
          class="card-img-top"
          src="https://ameliagoodson.github.io/Goodson-Gardens/assets/services/real-flowers.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
      </div>
      <div class="col-sm">
          <div class="card card-services">
            <h5 class="card-title">
              Retaining walls
            </h5>
            <img
              class="card-img-top"
              src="https://ameliagoodson.github.io/Goodson-Gardens/assets/services/real-retaining-wall.jpg"


              
              alt="Card image cap"
            />
            <div class="card-body">
              <p class="card-text">
                Some quick example text to build on the card title and make up the
                bulk of the card's content.
              </p>
              <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
          </div>
      </div>
    </div>
  <div class="row">
    <div class="col-sm">
      <div class="card card-services">
        <h5 class="card-title">
          Veggie gardens
        </h5>
        <!-- <img src="../../assets/icon-vegetables.svg" alt="" class="card-icon" /> -->
        <img
          class="card-img-top"
          src="../../assets/services/real-veggies"
          alt="small vegetable garden"
        />
        <div class="card-body">
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card card-services">
        <h5 class="card-title">
          Turfing and lawn care
        </h5>
        <img
          class="card-img-top"
          src="../../assets/services/real-lawn.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card card-services">
        <h5 class="card-title">
          Chicken coops
        </h5>
        <!-- <img src="../../assets/icon-chicken.svg" alt="icon of chicken" class="card-icon" /> -->
        <img
          class="card-img-top"
          src="../../assets/services/real-chicken.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>
    </div>
    </div>
    </div>
    <footer class="footer">
      <div class="container-footer">
        <div class="row">
          <div class="col">
            <h1 class="footer-brand">Goodson Gardens
              <!-- <img src="./assets/flowerlogo.svg" class="footer-logo" /> -->
            </h1>
            <h2 class="footer-subtitle">0478 000 000<br />
              <a href="mailto:emailaddress@gmail.com" class="footer-email">goodsongardens@gmail.com</a>
            </h2>
          </div>
          <div class="col col2-footer">
            <ul class="footer-list">
              <li class="footer-link"><a id="footer-link1" href="./views/Contact/contact.html">Contact</a></li>
              <li class="footer-link"><a id="footer-link2" href="./views/Services/booking.html"> Booking</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
